<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
   <ion-menu-button></ion-menu-button>
   </ion-buttons>
   <ion-title>
   Acerca de
   </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content padding>
   <h3>Agenda Electrónica</h3>
   <p>
   Aplicación diseñada para la asignatura DSI que permite organizar tareas
  pendientes y contactos.
   </p>
   <p>
      La aplicación esta realizada utilizando Ionic Framework.
    </p>
    <br>
    <h4>Héctor Macipe Naval</h4>
    <ion-item>
    <ion-icon name="logo-github"></ion-icon>
    <a href="">https://github.com/hectormnaval</a>
    </ion-item>
    <ion-item>
    <ion-icon name="logo-twitter"></ion-icon>
    <a href="">@Twitter</a>
    </ion-item>
   </ion-content>